<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>



</head>

<body id="page-top" class="welcome">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/portfolio"><i class="fa fa-user" aria-hidden="true"></i> <%= user.fullName %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/jobs">Jobs</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="/calender">Calender</a>
                </li> -->
                <!-- <li>
                    <a class="page-scroll" href="/history">History</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="/interview">Interview</a>
                </li>
                <li>
                    <a class="page-scroll" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">Jobs</h2>
                <h3 class="section-subheading text-muted">You can apply or post the jobs here.</h3>

                <ul class="list-inline">
                    <li><a href="/postNewJob"><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-toggle="modal" ><i class="fa fa-plus-square"></i> Post new job</button></a></li>
                    <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-paper-plane" ></i> Applied jobs</button></li>
                    <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-bookmark"></i> Posted jobs</button></li>
                    <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" onclick="showBookmarkedJob(<%= JSON.stringify(user) %>)"><i class="fa fa-bookmark"></i> Show Bookmarked jobs</button></li>
                </ul>
                <div id="custom-search-input">
                    <div  class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" name="searchBar" placeholder="title" />
                                    <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button" onclick="searchJob()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px"></div>

        <div class="row">

            <% jobs.forEach(function (job) { %>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#showJobDetailModal<%= job._id%>" class="portfolio-link" data-toggle="modal" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="/uploads/<%= job.imageName%>" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= job.title%></h4>
                        <p class="text-muted">Start: <%= job.start%></p>
                        <p class="text-muted">End: <%= job.end%></p>
                    </div>
                </div>
            <% });  %>

        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<% jobs.forEach(function (job) { %>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal  modal fade " id="showJobDetailModal<%= job._id%>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2><%= job.title%></h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        <img class="img-responsive img-centered" src="/uploads/<%= job.imageName%>" alt="">
                        <p><%= job.detail%></p>
                        <p>Employer: <%= job.ownerId%></p>
                        <!--<p>-->
                            <!--<strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>-->
                        <ul class="list-inline">
                            <li>Start Date: <%= job.start%></li>
                            <li>End Date: <%= job.end%></li>
                            <li>Application Deadline: <%= job.deadLine%></li>
                        </ul>
                        <ul class="list-inline">
                            <% if (job.ownerId == user._id) { %>
                            <!--<li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal" data-target="#jobModal"><i class="fa fa-paper-plane" ></i> Edit information</button></li>-->
                            <li><button type="button" style="margin-bottom:10px" class="btn btn-primary" onclick="reviewJob(<%= JSON.stringify(job)%>)"> Review</button></li>
                            <li><button type="button" style="margin-bottom:10px" class="btn btn-danger" onclick="deleteJob(<%= JSON.stringify(job) %>)"><i class="fa fa-times-circle"></i> Delete</button></li>
                            <% } else { %>
                                <% if (job.candidates.map(String).indexOf(String(user._id)) > -1) { %>
                                <li><button style="margin-bottom:10px" type="button" class="btn btn-danger" onclick="cancelAppliedJob(<%= JSON.stringify(job) %>)"><i class="fa fa-ban" ></i> Cancel Application</button></li>
                                <% } else { %>
                                <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal" onclick="applyJob(<%= JSON.stringify(job) %>)" ><i class="fa fa-paper-plane" ></i> Apply this job</button></li>
                                <% } %>

                                <% if (user.intersedJob.map(String).indexOf(String(job._id)) > -1) { %>
                                <li><button style="margin-bottom:10px" type="button" class="btn btn-danger" onclick="cancelBookmark(<%= JSON.stringify(job) %>)" ><i class="fa fa-bookmark"></i> Cancel bookmark</button></li>
                                <% } else { %>
                                <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" onclick="bookmarkJob(<%= JSON.stringify(job) %>)" ><i class="fa fa-bookmark"></i> Bookmark this job</button></li>
                                <% } %>

                            <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% });  %>



<!-- Modal -->
<div id="JobModal" class="portfolio-modal  modal fade" role="dialog">
    <!--<div class="modal-dialog">-->

        <!-- Modal content-->
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">

                <h2>ADD JOB</h2>
                <form role="form" action="/jobs" method="post">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" name="title" >
                    </div>
                    <div class="form-group">
                        <label for="detail">Detail:</label>
                        <input type="text" class="form-control" name="detail">
                    </div>

                    <div class="form-group">
                        <label for="salaryPerHour">SalaryPerHour:</label>
                        <input type="number" class="form-control" name="salaryPerHour">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="from">From:</label>
                                <input type='text' class="form-control" id='datetimepicker1' name="start"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="from">To:</label>
                                <input type='text' class="form-control" id='datetimepicker2' name="end"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="from">Registeration deadline:</label>
                                <input type='text' class="form-control" id='datetimepicker3' name="deadLine"/>
                            </div>
                        </div>
                    </div>

                    <script >
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                            $('#datetimepicker2').datetimepicker({
                                useCurrent: false //Important! See issue #1075
                            });
                            $('#datetimepicker3').datetimepicker({
                                useCurrent: false //Important! See issue #1075
                            });
                            $("#datetimepicker1").on("dp.change", function (e) {
                                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                                $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
                            });
                            $("#datetimepicker2").on("dp.change", function (e) {
                                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                            });
                            $("#datetimepicker3").on("dp.change", function (e) {
                                $('#datetimepicker1').data("DateTimePicker").minDate(e.date);
                            });
                        });
                    </script>

                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                </form>
            </div>
        </div>

    <!--</div>-->
</div>

<!--job function javascript-->
<script>

    function reviewJob(job) {
        console.log(job._id);
        post('/jobs/candidates', {id: job._id, host: job.ownerId}, 'GET');
    }

    function test() {
        console.log("test");
    }

    function searchJob() {
        var title = document.getElementsByName("searchBar")[0].value;
        post('/jobs', {keyword: title}, 'GET');

    }

    function showBookmarkedJob(user) {
        $.ajax({
           type: "POST",
            url: "/jobs/showBookmark",
            data: {use: user},
            success: function (jobs) {

            },
            error: function (request, status, error) {
                window.location.reload();
            }
        });
    }

    function applyJob(job) {
        console.log("test");

        $.ajax({
            type: "POST",
            url: "/jobs/apply",
            data: {job: JSON.stringify(job)},
            success: function(msg){
                window.location.reload();
            },
            error: function (request, status, error) {
                window.location.reload();
            }
        });
    }

    function cancelAppliedJob(job) {
        //post('/jobs/apply', {id: id._id}, "DELETE");

        $.ajax({
            type: "DELETE",
            url: "/jobs/apply",
            data: {id: job._id},
            success: function(msg){
                window.location.reload();
            },
            error: function (request, status, error) {
                window.location.reload();
            }
        });
    }

    function bookmarkJob(job) {

        $.ajax({
            type: "POST",
            url: "/jobs/bookmark",
            data: {id: job._id},
            success: function(msg){
                window.location.reload();
            },
            error: function (request, status, error) {
                window.location.reload();
            }
        });
    }

    function cancelBookmark(job) {

        $.ajax({
            type: "DELETE",
            url: "/jobs/bookmark",
            data: {id: job._id},
            success: function(msg){
                window.location.reload();
            },
            error: function (request, status, error) {
                window.location.reload();
            }
        });
    }

    function deleteJob(job) {
        $.ajax({
            type: "DELETE",
            url: "/jobs",
            data: {id: job._id, host: job.ownerId},
            success: function(msg){
                window.location.reload();
            },
            error: function (error) {
                window.location.reload();
            }
        });
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>

</body>

</html>
