<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- <link href="./css/prettify-1.0.css" rel="stylesheet">
    <link href="./css/base.css" rel="stylesheet"> -->
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>



</head>
<body>

<header>
  <div class="container">
    <br>
    <% if (info.length > 0) { %>
       <strong><div class="alert alert-danger "><%= info %></div></strong>
    <% } %>
  </div>
</header>

<div class="container">
    <h2>IAM (<%= user.username %>)</h2>
</div>

<div class="container">

  <h2>ADD JOB</h2>
  <form role="form" action="/jobs" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" name="title" >
    </div>
    <div class="form-group">
      <label for="detail">Detail:</label>
      <input type="text" class="form-control" name="detail">
    </div>

    <div class="form-group">
      <label for="salaryPerHour">SalaryPerHour:</label>
      <input type="number" class="form-control" name="salaryPerHour">
    </div>

    <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="from">From:</label>
            <input type='text' class="form-control" id='datetimepicker1' name="start"/>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="from">To:</label>
            <input type='text' class="form-control" id='datetimepicker2' name="end"/>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label for="from">Registeration deadline:</label>
            <input type='text' class="form-control" id='datetimepicker3' name="deadLine"/>
          </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $('#datetimepicker3').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
            $("#datetimepicker3").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").minDate(e.date);
            });
        });
    </script>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<div class="container">
    <h2>ALL JOBS</h2>

    <table class="table">
      <thead>
        <tr>
          <th>title</th>
          <th>detail</th>
          <th>salaryPerHour</th>
          <th>start</th>
          <th>end</th>
          <th>deadLine</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < jobs.length; i++) { %>
          <tr>
            <td><%= jobs[i].title %></td>
            <td><%= jobs[i].detail %></td>
            <td><%= jobs[i].salaryPerHour %></td>
            <td><%= jobs[i].start %></td>
            <td><%= jobs[i].end  %></td>
            <td><%= jobs[i].deadLine  %></td>
            <% var candidatesId = jobs[i].candidates.map(function(candidate) {return candidate.id;}); %>
            <% var objectIndex = candidatesId.map(String).indexOf(String(user._id)); %>
            <% if (objectIndex > -1) { %>
              <td><button type="button" class="btn btn-danger" onclick="cancelAppliedJob(<%= JSON.stringify(jobs[i].candidates[objectIndex]) %>, <%= JSON.stringify(jobs[i]) %>)">Applied</button></td>
            <% } else { %>
              <td><button type="button" class="btn btn-primary" onclick="applyJob(<%= JSON.stringify(jobs[i]) %>)">Apply</button></td>
            <% } %>
            <% if (user._id == jobs[i].ownerId) { %>
            <td><button type="button" class="btn btn-info" onclick="deleteJob(<%= JSON.stringify(jobs[i]) %>)">Delete</button></td>
            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#jobModal<%=i%>"> Edit</button></td>
            <td><button type="button" class="btn btn-success" onclick="reviewJob(<%= JSON.stringify(jobs[i]) %>)"> Review</button></td>
            <!-- Modal -->
            <div id="jobModal<%=i%>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit</h4>
                  </div>
                  <div class="modal-body">
                        <form role="form" id="editForm<%=i%>" action="/jobs/<%=jobs[i]._id%>" method="post">
                          <div class="form-group">
                            <label for="editTitle">Title</label>
                              <input type="text" class="form-control" value="<%=jobs[i].title%>" name="title"/>
                          </div>
                          <div class="form-group">
                            <label for="editDetail">Detail</label>
                              <input type="text" class="form-control" value="<%=jobs[i].detail%>" name="detail"/>
                          </div>
                          <div class="form-group">
                            <label for="editSalary">SalaryPerHour</label>
                              <input type="number" class="form-control" value="<%=jobs[i].salaryPerHour%>" name="salaryPerHour"/>
                          </div>
                          <div class="form-group">
                            <label for="editFrom">From</label>
                              <input type='text' class="form-control" id='editFrom<%=i%>' name="from"/>
                          </div>
                          <div class="form-group">
                            <label for="editTo">To</label>
                              <input type='text' class="form-control" id='editTo<%=i%>' name="to"/>
                          </div>
                          <div class="form-group">
                            <label for="editDeadLine">deadLine</label>
                              <input type="text" class="form-control" id='editDeadLine<%=i%>' name="deadLine"/>
                          </div>
                          <script type="text/javascript">
                              $(function () {
                                  $('#editFrom<%=i%>').datetimepicker({
                                    defaultDate: "<%=jobs[i].start%>"
                                  });
                                  $('#editTo<%=i%>').datetimepicker({
                                    defaultDate: "<%=jobs[i].end%>"
                                  });
                                  $('#editDeadLine<%=i%>').datetimepicker({
                                    defaultDate: "<%=jobs[i].deadLine%>"
                                  });
                              });
                          </script>
                          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="editForm<%=i%>">Save changes</button>
                  </div>
                </div>

              </div>
            </div>

            <% } %>
          </tr>
        <% } %>

        <script>

            function reviewJob(job) {
              //console.log(job._id);
              post('/jobs/candidates', {id: job._id, host: job.ownerId}, 'GET');
            }


            function applyJob(job) {
              //console.log(JSON.stringify(job));
              //post('/jobs/apply', {job: JSON.stringify(job)});

              $.ajax({
                  type: "POST",
                  url: "/jobs/apply",
                  data: {job: JSON.stringify(job)},
                  success: function(msg){
                      window.location.reload();
                  },
                  error: function (request, status, error) {
                      window.location.reload();
                  }
              });
            }

            function cancelAppliedJob(apply, job) {
              //post('/jobs/apply', {id: id._id}, "DELETE");

              //console.log(JSON.stringify(job));

              $.ajax({
                  type: "DELETE",
                  url: "/jobs/apply",
                  data: {id: job._id, status: apply.status},
                  success: function(msg){
                      window.location.reload();
                  },
                  error: function (request, status, error) {
                      window.location.reload();
                  }
              });
            }

            function deleteJob(job) {
              $.ajax({
                  type: "DELETE",
                  url: "/jobs",
                  data: {id: job._id, host: job.ownerId},
                  success: function(msg){
                      window.location.reload();
                  },
                  error: function (error) {
                      window.location.reload();
                  }
              });
            }

            function post(path, params, method) {
              method = method || "post"; // Set method to post by default if not specified.

              // The rest of this code assumes you are not using a library.
              // It can be made less wordy if you use one.
              var form = document.createElement("form");
              form.setAttribute("method", method);
              form.setAttribute("action", path);

              for(var key in params) {
                  if(params.hasOwnProperty(key)) {
                      var hiddenField = document.createElement("input");
                      hiddenField.setAttribute("type", "hidden");
                      hiddenField.setAttribute("name", key);
                      hiddenField.setAttribute("value", params[key]);

                      form.appendChild(hiddenField);
                   }
              }

              document.body.appendChild(form);
              form.submit();
            }
        </script>

      </tbody>
</table>
</div>

<div class="container">
    <h2>HOSTED INTERVIEW</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Job title</th>
          <th>from</th>
          <th>to</th>
          <th>Confirmed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < hostedInterviews.length; i++) { %>
          <tr>
            <td><%= interviewJobs[i].title %></td>
            <td><%= hostedInterviews[i].from %></td>
            <td><%= hostedInterviews[i].to %></td>
            <td><%= hostedInterviews[i].confirmed %></td>
            <% if (hostedInterviews[i].confirmed) { %>
            <td><button type="button" class="btn btn-primary" onclick="enterRoom('<%= JSON.stringify(hostedInterviews[i]) %>', '<%= JSON.stringify(interviewJobs[i]) %>')" >Enter</button></td>
            <% } %>
          </tr>
        <% } %>
        <script>
          function enterRoom(interview, job) {
            post('/interview/room', {interview: interview, job: job});
          }

          function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
          }
        </script>
      </tbody>
</table>
</div>

<div class="container">
    <h2>JOINED INTERVIEW</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Job title</th>
          <th>from</th>
          <th>to</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < candidateInterviews.length; i++) { %>
          <tr>
            <% if (candidateInterviews[i].confirmed) { %>
              <td><%= candidateInterviewJobs[i].title %></td>
              <td><%= candidateInterviews[i].from %></td>
              <td><%= candidateInterviews[i].to %></td>
              <td><button type="button" class="btn btn-primary" onclick="enterRoom('<%= JSON.stringify(candidateInterviews[i]) %>', '<%= JSON.stringify(candidateInterviewJobs[i]) %>')">Enter</button></td>
            <% } %>
          </tr>
        <% } %>
        <script>
          function enterRoom(interview, job) {
            post('/interview/room', {interview: interview, job: job});
          }

          function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
          }
        </script>
      </tbody>
</table>
</div>

</body>
</html>
