<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- <link href="./css/prettify-1.0.css" rel="stylesheet">
    <link href="./css/base.css" rel="stylesheet"> -->
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

</head>
<body>

<header>
  <div class="container">
    <br>
    <h3>Title: <%= job.title %></h3>
    <h3>Detail: <%= job.detail %></h3>
    <h3>SalaryPerHour: <%= job.salaryPerHour %></h3>
    <h3>Start: <%= job.start %></h3>
    <h3>End: <%= job.end %></h3>
    <h3>DeadLine: <%= job.deadLine %></h3>
  </div>
</header>

<div class="container">
    <h2>Candidates</h2>
    <table class="table">
      <thead>
        <tr>
          <th>fullName</th>
          <th>email</th>
          <th>major</th>
          <th>DOB</th>
          <th>gender</th>
          <th>phone</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < candidates.length; i++) { %>
          <tr>
            <td><%= candidates[i].fullName %></td>
            <td><%= candidates[i].username %></td>
            <td><%= candidates[i].major %></td>
            <td><%= candidates[i].DOB %></td>
            <td><%= candidates[i].gender %></td>
            <td><%= candidates[i].phone  %></td>
            <td><button type="button" class="btn btn-default">History</button></td>
            <td><button type="button" class="btn btn-primary">Resume</button></td>
            <% if (invitedCandidate.map(String).indexOf(String(candidates[i]._id)) > -1) {%>
            <td><button type="button" class="btn btn-danger">Interview Arranged</button></td>
            <% } else { %>
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#interviewModal<%=i%>">Arrange Interview</button></td>
            <% } %>

            <td><button type="button" class="btn btn-success" onclick="offer(<%= JSON.stringify(job) %>, <%= JSON.stringify(candidates[i]) %>)" >Offer</button></td>

            <td><button type="button" class="btn btn-danger" onclick="decline(<%= JSON.stringify(job) %>, <%= JSON.stringify(candidates[i]) %>)" >Decline</button></td>

            <!-- Modal -->
            <div id="interviewModal<%=i%>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Arrange interview with <%= candidates[i].username %></h4>
                  </div>
                  <div class="modal-body">
                        <form role="form" id="interviewForm<%=i%>" action="/jobs/interview" method="post">
                          <div class="form-group" style="display: none;">
                            <label for="candidate">Job Id</label>
                              <input type='text' class="form-control" value='<%= job._id  %>'name="jobId"/>
                          </div>
                          <div class="form-group" style="display: none;">
                            <label for="candidate">Job Title</label>
                              <input type='text' class="form-control" value='<%= job.title  %>'name="jobTitle"/>
                          </div>
                          <div class="form-group" style="display: none;">
                            <label for="candidate">Candidate</label>
                              <input type='text' class="form-control" value='<%= candidates[i]._id  %>'name="candidate"/>
                          </div>
                          <div class="form-group" style="display: none;">
                            <label for="username">Username</label>
                              <input type='text' class="form-control" value='<%= candidates[i].username  %>'name="username"/>
                          </div>
                          <div class="form-group">
                            <label for="editFrom">From</label>
                              <input type='text' class="form-control" id='interviewFrom<%=i%>' name="from"/>
                          </div>
                          <div class="form-group">
                            <label for="editTo">To</label>
                              <input type='text' class="form-control" id='interviewTo<%=i%>' name="to"/>
                          </div>
                          <script type="text/javascript">
                              $(function () {
                                  $('#interviewFrom<%=i%>').datetimepicker();
                                  $('#interviewTo<%=i%>').datetimepicker();
                              });
                          </script>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="interviewForm<%=i%>">Arrange</button>
                  </div>
                </div>

              </div>
            </div>

          </tr>
        <% } %>

        <script>
          function offer(job, candidate) {
            console.log(job, candidate);
            post('/jobs/offer', {
              job: JSON.stringify(job),
              candidate: JSON.stringify(candidate)
            });
          }

          function decline(job, candidate) {
            console.log(job, candidate);
            post('/jobs/decline', {
              job: JSON.stringify(job),
              candidate: JSON.stringify(candidate)
            });
          }

          function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
          }

        </script>

      </tbody>
</table>
</div>

</body>
</html>
