<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="js/jquery.js" type="text/javascript"></script>

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="welcome">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/portfolio"><i class="fa fa-user" aria-hidden="true"></i> <%= user.fullName %></a>


            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/jobs">Jobs</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="/calender">Calender</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="/history">History</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="/interview">Interview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Calender Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome, <%= user.fullName%></h2>
                    <h3 class="section-subheading text-muted">Here are the available jobs in calender.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="container">
                    <hr>
                    <div id="calendar"></div>


                    <script>
                    $.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js',function(){

                        var date = new Date();
                        var d = date.getDate();
                        var m = date.getMonth();
                        var y = date.getFullYear();


                        var result = [];



                        <% jobEvents.forEach(function (job) { %>
                        result.push( { title: '<%=job.title%>',
                                       start: '<%=job.start%>',
                                       end: '<%=job.end%>',
                                       id: '<%=job._id%>'
                                     });
                        <% });  %>

                        //console.log(result);

                        var events = result;



                        // var events = [
                        //     {
                        //         title: 'All Day Event',
                        //         start: new Date(y, m, 1)
                        //     },
                        //     {
                        //         title: 'Long Event',
                        //         start: new Date(y, m, d-5),
                        //         end: new Date(y, m, d-2)
                        //     },
                        //     {
                        //         id: 999,
                        //         title: 'Repeating Event',
                        //         start: new Date(y, m, d-3, 16, 0),
                        //         allDay: false
                        //     },
                        //     {
                        //         id: 999,
                        //         title: 'Repeating Event',
                        //         start: new Date(y, m, d+4, 16, 0),
                        //         allDay: false
                        //     },
                        //     {
                        //         title: 'Meeting',
                        //         start: new Date(y, m, d, 10, 30),
                        //         allDay: false
                        //     },
                        //     {
                        //         title: 'Lunch',
                        //         start: new Date(y, m, d, 12, 0),
                        //         end: new Date(y, m, d, 14, 0),
                        //         allDay: false
                        //     },
                        //     {
                        //         title: 'Birthday Party',
                        //         start: new Date(y, m, d+1, 19, 0),
                        //         end: new Date(y, m, d+1, 22, 30),
                        //         allDay: false
                        //     },
                        //     {
                        //         title: 'Click for Google',
                        //         start: new Date(y, m, 28),
                        //         end: new Date(y, m, 29),
                        //         url: 'http://google.com/'
                        //     }
                        // ];

                        // $('#calendar').fullCalendar({
                        //     header: {
                        //         left: 'prev,next today',
                        //         center: 'title',
                        //         right: 'month,agendaWeek,agendaDay'
                        //     },
                        //     editable: true,
                        //     events: events,
                        //     eventClick: function(event) {
                        //         if (event.url) {
                        //             window.open(event.url);
                        //             return false;
                        //         }
                        //     }
                        // });

                        $('#calendar').fullCalendar({
                          events: events,
                          eventClick: function(calEvent, jsEvent, view) {
                                        $('#showJobDetailModal'+calEvent.id).modal('show');
                                      }
                        });

                    })
                    </script>
                </div>

            </div>
        </div>

    </section>

    <% jobEvents.forEach(function (job) { %>

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal  modal fade " id="showJobDetailModal<%= job._id%>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2><%= job.title%></h2>
                            <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                            <img class="img-responsive img-centered" src="/uploads/<%= job.imageName%>" alt="">
                            <p><%= job.detail%></p>
                            <p>Employer: <%= job.ownerId%></p>
                            <!--<p>-->
                                <!--<strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>-->
                            <ul class="list-inline">
                                <li>Start Date: <%= job.start%></li>
                                <li>End Date: <%= job.end%></li>
                                <li>Application Deadline: <%= job.deadLine%></li>
                            </ul>
                            <ul class="list-inline">
                                <% if (job.ownerId == user._id) { %>
                                <!--<li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal" data-target="#jobModal"><i class="fa fa-paper-plane" ></i> Edit information</button></li>-->
                                <li><button type="button" style="margin-bottom:10px" class="btn btn-primary" onclick="reviewJob(<%= JSON.stringify(job)%>)"><i class="fa fa-search-plus"></i> Review</button></li>
                                <li><button type="button" style="margin-bottom:10px" class="btn btn-danger" onclick="deleteJob(<%= JSON.stringify(job) %>)"><i class="fa fa-times-circle"></i> Delete</button></li>
                                <% } else { %>

                                    <% var candidatesId = job.candidates.map(function(candidate) {return candidate.id;}); %>
                                    <% var objectIndex = candidatesId.map(String).indexOf(String(user._id)); %>
                                    <% if (objectIndex > -1) { %>
                                    <li><button style="margin-bottom:10px" type="button" class="btn btn-danger" onclick="cancelAppliedJob(<%= JSON.stringify(job.candidates[objectIndex]) %>, <%= JSON.stringify(job) %>)"><i class="fa fa-ban" ></i> Cancel Application</button></li>
                                    <% } else { %>
                                    <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" data-dismiss="modal" onclick="applyJob(<%= JSON.stringify(job) %>)" ><i class="fa fa-paper-plane" ></i> Apply this job</button></li>
                                    <% } %>

                                    <% if (user.intersedJob.map(String).indexOf(String(job._id)) > -1) { %>
                                    <li><button style="margin-bottom:10px" type="button" class="btn btn-danger" onclick="cancelBookmark(<%= JSON.stringify(job) %>)" ><i class="fa fa-bookmark"></i> Cancel bookmark</button></li>
                                    <% } else { %>
                                    <li><button style="margin-bottom:10px" type="button" class="btn btn-primary" onclick="bookmarkJob(<%= JSON.stringify(job) %>)" ><i class="fa fa-bookmark"></i> Bookmark this job</button></li>
                                    <% } %>

                                <% } %>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% });  %>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--job function javascript-->
    <script>

        function reviewJob(job) {
            console.log(job._id);
            post('/jobs/candidates', {id: job._id, host: job.ownerId}, 'GET');
        }

        function test() {
            console.log("test");
        }

        function searchJob() {
            var title = document.getElementsByName("searchBar")[0].value;
            post('/jobs', {keyword: title}, 'GET');

        }

        function showBookmarkedJob(user) {
            post('/showBookmark', {user: user}, 'POST');
        }

        function applyJob(job) {
            console.log("test");

            $.ajax({
                type: "POST",
                url: "/jobs/apply",
                data: {job: JSON.stringify(job)},
                success: function(msg){
                    window.location.reload();
                },
                error: function (request, status, error) {
                    window.location.reload();
                }
            });
        }

        function cancelAppliedJob(apply, job) {
            //post('/jobs/apply', {id: id._id}, "DELETE");

            $.ajax({
                type: "DELETE",
                url: "/jobs/apply",
                data: {id: job._id, status: apply.status},
                success: function(msg){
                    window.location.reload();
                },
                error: function (request, status, error) {
                    window.location.reload();
                }
            });
        }

        function bookmarkJob(job) {

            $.ajax({
                type: "POST",
                url: "/jobs/bookmark",
                data: {id: job._id},
                success: function(msg){
                    window.location.reload();
                },
                error: function (request, status, error) {
                    window.location.reload();
                }
            });
        }

        function cancelBookmark(job) {

            $.ajax({
                type: "DELETE",
                url: "/jobs/bookmark",
                data: {id: job._id},
                success: function(msg){
                    window.location.reload();
                },
                error: function (request, status, error) {
                    window.location.reload();
                }
            });
        }

        function deleteJob(job) {
            $.ajax({
                type: "DELETE",
                url: "/jobs",
                data: {id: job._id, host: job.ownerId},
                success: function(msg){
                    window.location.reload();
                },
                error: function (error) {
                    window.location.reload();
                }
            });
        }

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>



    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    <!-- <script src="js/calender.js"></script> -->

</body>

</html>
