<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>



</head>

<body id="page-top" class="welcome">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/portfolio"><i class="fa fa-user" aria-hidden="true"></i> <%= user.fullName %></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/jobs">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="/interview">Interview</a>
                </li>
                <li>
                    <a class="page-scroll" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Services Section -->
<section id="services">
    <div class="container">
        <h2>HOSTED INTERVIEW</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Job title</th>
                <th>from</th>
                <th>to</th>
                <th>Confirmed</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < hostedInterviews.length; i++) { %>
            <tr>
                <td><%= interviewJobs[i].title %></td>
                <td><%= hostedInterviews[i].from %></td>
                <td><%= hostedInterviews[i].to %></td>
                <td><%= hostedInterviews[i].confirmed %></td>
                <% if (hostedInterviews[i].confirmed) { %>
                  <% if ( (hostedInterviews[i].from.getTime() < new Date().getTime() ) && (hostedInterviews[i].to.getTime() > new Date().getTime()) ) { %>
                    <td><button type="button" class="btn btn-primary" onclick="enterRoom('<%= JSON.stringify(hostedInterviews[i]) %>', '<%= JSON.stringify(interviewJobs[i]) %>')" >Enter</button></td>
                  <% } else { %>
                    <td><button type="button" class="btn btn-info" >Soon</button></td>
                  <% } %>
                <% } %>
            </tr>
            <% } %>
            <script>
                function enterRoom(interview, job) {
                    post('/interview/room', {interview: interview, job: job});
                }

                function post(path, params, method) {
                    method = method || "post"; // Set method to post by default if not specified.

                    // The rest of this code assumes you are not using a library.
                    // It can be made less wordy if you use one.
                    var form = document.createElement("form");
                    form.setAttribute("method", method);
                    form.setAttribute("action", path);

                    for(var key in params) {
                        if(params.hasOwnProperty(key)) {
                            var hiddenField = document.createElement("input");
                            hiddenField.setAttribute("type", "hidden");
                            hiddenField.setAttribute("name", key);
                            hiddenField.setAttribute("value", params[key]);

                            form.appendChild(hiddenField);
                        }
                    }

                    document.body.appendChild(form);
                    form.submit();
                }
            </script>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>JOINED INTERVIEW</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Job title</th>
                <th>from</th>
                <th>to</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < candidateInterviews.length; i++) { %>
            <tr>
                <% if (candidateInterviews[i].confirmed) { %>
                <td><%= candidateInterviewJobs[i].title %></td>
                <td><%= candidateInterviews[i].from %></td>
                <td><%= candidateInterviews[i].to %></td>
                <% if ( (candidateInterviews[i].from.getTime() < new Date().getTime() ) && (candidateInterviews[i].to.getTime() > new Date().getTime()) ) { %>
                  <td><button type="button" class="btn btn-primary" onclick="enterRoom('<%= JSON.stringify(candidateInterviews[i]) %>', '<%= JSON.stringify(candidateInterviewJobs[i]) %>')">Enter</button></td>
                <% } else { %>
                  <td><button type="button" class="btn btn-info" >Soon</button></td>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            <script>
                function enterRoom(interview, job) {
                    post('/interview/room', {interview: interview, job: job});
                }

                function post(path, params, method) {
                    method = method || "post"; // Set method to post by default if not specified.

                    // The rest of this code assumes you are not using a library.
                    // It can be made less wordy if you use one.
                    var form = document.createElement("form");
                    form.setAttribute("method", method);
                    form.setAttribute("action", path);

                    for(var key in params) {
                        if(params.hasOwnProperty(key)) {
                            var hiddenField = document.createElement("input");
                            hiddenField.setAttribute("type", "hidden");
                            hiddenField.setAttribute("name", key);
                            hiddenField.setAttribute("value", params[key]);

                            form.appendChild(hiddenField);
                        }
                    }

                    document.body.appendChild(form);
                    form.submit();
                }
            </script>
            </tbody>
        </table>
    </div>
</section>




<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<!-- jQuery -->
<!--<script src="../js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="../js/bootstrap.min.js"></script>-->

<!-- Plugin JavaScript -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
<!-- <script src="../js/classie.js"></script>
<script src="../js/cbpAnimatedHeader.js"></script> -->

<!-- Contact Form JavaScript -->
<!-- <script src="../js/contact_me.js"></script> -->

<!-- Custom Theme JavaScript -->
 <script src ="/js/agency.js"></script>

</body>

</html>
