<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    <style>
        #peer-videos-container {
            position: relative;
            width: auto;
        }

        #self-videos-container {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 25%;
        }

    </style>


</head>

<body id="page-top" class="welcome">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/portfolio"><i class="fa fa-user"
                                                                     aria-hidden="true"></i> <%= user.fullName %></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/jobs">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="/interview">Interview</a>
                </li>
                <li>
                    <a class="page-scroll" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<section id="services">



    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Interview Room</h2>
            </div>
        </div>
        <div id="peer-videos-container">
            <div id="self-videos-container"></div>
        </div>

        <% if (host) { %>
        <h4>
            <div id="interview-status"class=" section-subheading text-muted" >Waiting candidate...</div>
        </h4>
        <% } else { %>
        <h4>
            <div id="interview-status" class="section-subheading text-muted" >Waiting interviewer...</div>
        </h4>
        <% } %>

        <h2>Interview Info</h2>
        <h3>Interview : <%= job.title %> </h3>
        <h3>Duration from : <%= interview.from %> </h3>
        <h3>Duration to : <%= interview.to %> </h3>

        <h2> Job Info </h2>
        <h3>Title: <%= job.title %></h3>
        <h3>Detail: <%= job.detail %></h3>
        <h3>SalaryPerHour: <%= job.salaryPerHour %></h3>
        <h3>Start: <%= job.start %></h3>
        <h3>End: <%= job.end %></h3>
        <h3>DeadLine: <%= job.deadLine %></h3>
    </div>

    <link rel="stylesheet" href="../css/interviewRoom.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/reliable-signaler/signaler.js"></script>
    <script src="../js/conference.js"></script>
    <script src="../js/RTCPeerConnection-v1.5.js"></script>

    <script>
        // https://github.com/muaz-khan/WebRTC-Experiment/tree/master/video-conferencing

        var peervideosContainer = document.getElementById('peer-videos-container');
        var selfvideosContainer = document.getElementById('self-videos-container');

        var conferenceArgument = {
            onRemoteStream: function (media) {
                peervideosContainer.insertBefore(media.video, peervideosContainer.firstChild);
                if (<%= host %>) {
                    document.getElementById('interview-status').innerHTML = "Candidate Joined";
                } else {
                    document.getElementById('interview-status').innerHTML = "Interviewer Joined";
                }

            },
            onRemoteStreamEnded: function (stream, video) {
                if (video.parentNode) {
                    video.parentNode.removeChild(video);
                    if (<%= host %>) {
                        document.getElementById('interview-status').innerHTML = "Candidate Left";
                    } else {
                        document.getElementById('interview-status').innerHTML = "Interviewer Left";
                    }
                }
            },
            onRoomFound: function (room) {
            }
        };


        // using reliable-signaler
        var signaler = initReliableSignaler(conferenceArgument, '/');
        conferenceArgument.openSocket = conferenceArgument.openSignalingChannel;

        var conferenceUI = conference(conferenceArgument);

        var roomid = '<%= interview.triggerToken %>';

        if (<%= host %>) {
            signaler.createNewRoomOnServer(roomid, function () {
                captureUserMedia(function () {
                    conferenceUI.createRoom({
                        roomToken: roomid,
                        userToken: roomid,
                        transmitRoomOnce: true
                    });
                }, function () {
                });
            });
        } else {
            signaler.getRoomFromServer(roomid, function (roomid) {
                // setting 'roomToken' and 'broadcaster' and joining
                captureUserMedia(function () {
                    conferenceUI.joinRoom({
                        roomToken: roomid,
                        joinUser: roomid
                    });
                }, function () {

                });
            });
        }

        // signaler.createNewRoomOnServer(roomid, function() {
        //     captureUserMedia(function() {
        //         conferenceUI.createRoom({
        //             roomToken: roomid,
        //             userToken: roomid,
        //             transmitRoomOnce: true
        //         });
        //     }, function() {});
        // });


        // signaler.getRoomFromServer(roomid, function(roomid) {
        //     // setting 'roomToken' and 'broadcaster' and joining
        //     captureUserMedia(function() {
        //         conferenceUI.joinRoom({
        //             roomToken: roomid,
        //             joinUser: roomid
        //         });
        //     }, function() {
        //
        //     });
        // });


        function captureUserMedia(callback, failure_callback) {
            var video = document.createElement('video');

            getUserMedia({
                video: video,
                onsuccess: function (stream) {
                    conferenceArgument.attachStream = stream;
                    callback && callback();
                    video.setAttribute('muted', true);
                    selfvideosContainer.insertBefore(video, selfvideosContainer.firstChild);
                },
                onerror: function () {
                    alert('unable to get access to your webcam');
                    callback && callback();
                }
            });
        }

        function rotateVideo(video) {
            video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(0deg)';
            setTimeout(function () {
                video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(360deg)';
            }, 1000);
        }

        function scaleVideos() {
            var videos = document.querySelectorAll('video'),
                    length = videos.length,
                    video;

            var minus = 130;
            var windowHeight = 700;
            var windowWidth = 600;
            var windowAspectRatio = windowWidth / windowHeight;
            var videoAspectRatio = 4 / 3;
            var blockAspectRatio;
            var tempVideoWidth = 0;
            var maxVideoWidth = 0;

            for (var i = length; i > 0; i--) {
                blockAspectRatio = i * videoAspectRatio / Math.ceil(length / i);
                if (blockAspectRatio <= windowAspectRatio) {
                    tempVideoWidth = videoAspectRatio * windowHeight / Math.ceil(length / i);
                } else {
                    tempVideoWidth = windowWidth / i;
                }
                if (tempVideoWidth > maxVideoWidth)
                    maxVideoWidth = tempVideoWidth;
            }
            for (var i = 0; i < length; i++) {
                video = videos[i];
                if (video)
                    video.width = maxVideoWidth - minus;
            }
        }

        window.onrsesize = scaleVideos;


    </script>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="/js/agency.js"></script>

</body>

</html>
