<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>


</head>

<body id="page-top" class="welcome">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/portfolio"><i class="fa fa-user"
                                                                     aria-hidden="true"></i> <%= user.username %></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/jobs">Jobs</a>
                </li>
                <li>
                    <a class="page-scroll" href="/interview">Interview</a>
                </li>
                <li>
                    <a class="page-scroll" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Services Section -->
<section id="services">
    <div class="container">

        <div class="row">

            <div class="col-lg-12 text-center">
                    <span class="fa-stack fa-5x" >
                        <% if (viewUser.proPic == null) { %>

                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        <% } else { %>

                        <img class="img-circle img-responsive" src="/uploads/<%= viewUser.proPic %>" alt="">
                        <% } %>


                    </span>

                <h1 class="service-heading"><%= viewUser.fullName %></h1>
                <h2 class="service-heading"><%= viewUser.major %></h2>
                <h3 class="service-heading text-muted">DOB: <%= viewUser.DOB %></h3>
                <h3 class="service-heading text-muted">Gender: <%= viewUser.gender %></h3>
                <h3 class="service-heading text-muted">Phone: <%= viewUser.phone %></h3>
                <p style="font-size: 300%;">About me:</p>
                <p class="text-muted"><%= viewUser.description %></p>
                <ul class="list-inline">
                    <li>
                        <% if (user._id == viewUser._id) { %>
                        <a href="/history">
                            <button style="margin-bottom:10px" type="button" class="btn btn-primary"><i
                                        class="fa fa-history"></i> History
                            </button>
                        </a>
                        <% } else { %>
                        <button style="margin-bottom:10px" type="button" class="btn btn-primary"
                                onclick="checkHistory(<%= JSON.stringify(viewUser) %>)"><i
                                    class="fa fa-history"></i> History
                        </button>
                        <% } %>
                    </li>
                    <li>
                        <% if (user._id == viewUser._id) { %>
                        <a href="/resume">
                            <button style="margin-bottom:10px" type="button" class="btn btn-primary"><i
                                        class="fa fa-file-text-o "></i> Resume
                            </button>
                        </a>
                        <% } else { %>
                        <button style="margin-bottom:10px" type="button" class="btn btn-primary"
                                onclick="checkResume(<%= JSON.stringify(viewUser) %>)"><i
                                    class="fa fa-file-text-o"></i> Resume
                        </button>
                        <% } %>

                    </li>
                    <% if (user._id == viewUser._id) { %>
                    <li>
                        <button style="margin-bottom:10px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#PModal"><i
                                    class="fa fa-pencil-square-o" ></i> Edit
                        </button>
                    </li>
                    <% } %>
                </ul>

                <!-- Modal -->
                <div id="PModal" class="portfolio-modal  modal fade" role="dialog">
                    <!--<div class="modal-dialog">-->

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="close-modal" data-dismiss="modal">
                                <div class="lr">
                                    <div class="rl">
                                    </div>
                                </div>
                            </div>

                            <div class="container">

                                <h2>EDIT portfolio</h2>
                                <form role="form" action="/portfolio/edit" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="title">fullName:</label>
                                        <input type="text" class="form-control" name="fullName" value="<%=user.fullName%>">
                                    </div>
                                    <div class="form-group">
                                        <label for="detail">userName:</label>
                                        <input type="text" class="form-control" name="username" value="<%=user.username%>">
                                    </div>

                                    <div class="form-group">
                                      <label for="from">DOB:</label>
                                      <input type='text' class="form-control" id='datetimepicker1' name="DOB"/>
                                    </div>

                                    <div class="form-group">
                                      <label for="from">major:</label>
                                      <input type='text' class="form-control" name="major" value="<%=user.major%>"/>
                                    </div>

                                    <div class="form-group">


                                      <% if( user.gender == 'male') { %>
                                        <label for="gender" class="control-label input-group"></label>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="radio" name="gender" value="male">Male
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" name="gender" value="female">Female
                                            </label>
                                        </div>

                                      <% } else { %>

                                        <label for="gender" class="control-label input-group"></label>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default">
                                                <input type="radio" name="gender" value="male">Male
                                            </label>
                                            <label class="btn btn-default active">
                                                <input type="radio" name="gender" value="female">Female
                                            </label>
                                        </div>

                                      <% } %>

                                    </div>

                                    <div class="form-group">
                                        <label for="detail">phone:</label>
                                        <input type="text" class="form-control" name="phone" value="<%=user.phone%>">
                                    </div>

                                    <div class="form-group">
                                        <label for="detail">description:</label>
                                        <textarea class="form-control" rows="5" id="comment" name="description"><%=user.description%></textarea>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="photo">profile picture:</label>
                                                <input type="file" name="proPic">
                                            </div>
                                        </div>
                                    </div>

                                    <script >
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker({
                                              defaultDate: "<%=user.DOB%>"
                                            });
                                        });
                                    </script>

                                    <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i> Save chnage</button>
                                </form>
                            </div>
                        </div>

                    <!--</div>-->
                </div>

                <script>
                    function checkHistory(viewUser) {
                        post('/history', {
                            viewUser: JSON.stringify(viewUser)
                        });
                    }

                    function checkResume(viewUser) {
                        post('/resume', {
                            viewUser: JSON.stringify(viewUser)
                        });
                    }

                    function post(path, params, method) {
                        method = method || "post"; // Set method to post by default if not specified.

                        // The rest of this code assumes you are not using a library.
                        // It can be made less wordy if you use one.
                        var form = document.createElement("form");
                        form.setAttribute("method", method);
                        form.setAttribute("action", path);

                        for (var key in params) {
                            if (params.hasOwnProperty(key)) {
                                var hiddenField = document.createElement("input");
                                hiddenField.setAttribute("type", "hidden");
                                hiddenField.setAttribute("name", key);
                                hiddenField.setAttribute("value", params[key]);

                                form.appendChild(hiddenField);
                            }
                        }

                        document.body.appendChild(form);
                        form.submit();
                    }
                </script>


            </div>


        </div>
    </div>
</section>




<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<!-- <script src="js/jquery.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>

</body>

</html>
