<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJP - Find job easily</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>


</head>

<body id="page-top" class="welcome">


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Registeration</div>

                <!-- show any messages that come back with authentication -->
                <% if (info.length > 0) { %>
                   <strong><div class="alert alert-danger "><%= info %></div></strong>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/register" method="post" data-toggle="validator" role="form">
                  <div class="form-group">
                    <div class="text-left">
                      <h2><label for="fullName">Full Name</label></h2>
                    </div>
                      <input type="text" class="form-control input-lg" name="fullName" required>
                      <div class="help-block with-errors"></div>
                  </div>
                    <div class="form-group">
                      <div class="text-left">
                        <h2><label for="email">Email</label></h2>
                      </div>
                        <input type="email" class="form-control input-lg" name="username" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <div class="text-left">
                        <h2><label for="password">Password</label></h2>
                      </div>
                        <input id="inputPassword" type="password" data-minlength="6" class="form-control input-lg" name="password" required>
                        <div class="help-block text-left">Minimum of 6 characters</div>
                    </div>
                    <div class="form-group">
                      <div class="text-left">
                        <h2><label for="password">Reenter-Password</label></h2>
                      </div>
                        <input type="password" class="form-control input-lg" name="password2" data-match="#inputPassword" data-match-error="Password not match" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="text-left">
                            <h2><label for="gender">Gender</label></h2>
                        </div>
                        <label for="gender" class="control-label input-group"></label>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default ">
                                <input type="radio" name="gender" value="male">Male
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="female">Female
                            </label>
                        </div>

                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="text-left">
                            <h2><label for="DOB">Date of Birth</label></h2>
                        </div>
                        <input type='text' class="form-control input-lg" id='datetimepicker1' name="DOB"/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="text-left">
                            <h2><label for="phone">Phone</label></h2>
                        </div>
                        <input type="tel" data-minlength="8" class="form-control input-lg" name="phone" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="text-left">
                            <h2><label for="Major">Major</label></h2>
                        </div>
                        <input type="text" class="form-control input-lg" name="major" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <br>
                    <button type="submit" class="page-scroll btn btn-xl">Create an account</button>
                </form>
                <script >
                    $(function () {
                        $('#datetimepicker1').datetimepicker({

                        });
                    });
                </script>
            </div>
        </div>
    </header>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
