body{
    overflow-x:hidden;
    font-family:"Roboto Slab",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif
}

.text-muted{
    color:#777
}

.text-primary{
    color:#fed136
}

p{
    font-size:14px;
    line-height:1.75
}

p.large{
    font-size:16px
}
a,a:hover,a:focus,a:active,a.active{
    outline:0
}

a{
    color:#fed136
}

a:hover,a:focus,a:active,a.active{
    color:#fec503
}

h1,h2,h3,h4,h5,h6{
    font-family:Montserrat,
                "Helvetica Neue",
                Helvetica,Arial,
                sans-serif;
    text-transform:uppercase;
    font-weight:700
}

.img-centered{
    margin:0 auto
}

.bg-light-gray{
    background-color:#f7f7f7

}

.bg-darkest-gray{
    background-color:#222
}

.btn-primary{
    color:#fff;
    background-color:#fed136;
    border-color:#fed136;
    font-family:Montserrat,
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif;
    text-transform:uppercase;
    font-weight:700
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
    background-image:none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{
    background-color:#fed136;
    border-color:#fed136
}

.btn-primary .badge{
    color:#fed136;
    background-color:#fff
}

.btn-danger{
    color:#fff;
    background-color:#d9534f;
    border-color:#d9534f;
    font-family:Montserrat,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    text-transform:uppercase;
    font-weight:700
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger{
    background-image:none
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active{
    background-color:#d9534f;
    border-color:#d9534f
}

.btn-danger .badge{
    color:#d9534f;
    background-color:#fff
}

.btn-xl{
    color:#fff;
    background-color:#fed136;
    border-color:#fed136;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    border-radius:3px;
    font-size:18px;
    padding:20px 40px
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl{
    background-image:none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active{
    background-color:#fed136;
    border-color:#fed136
}

.btn-xl .badge{
    color:#fed136;
    background-color:#fff
}

.navbar-default{
    background-color:#222;
    border-color:transparent
}

.navbar-default .navbar-brand{
    color:#fed136;
    font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active{
    color:#fec503
}

.navbar-default .navbar-collapse{
    border-color:rgba(255,255,255,.02)
}

.navbar-default .navbar-toggle{
    background-color:#fed136;
    border-color:#fed136
}

.navbar-default .navbar-toggle .icon-bar{
    background-color:#fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color:#fed136
}

.navbar-default .nav li a{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:1px;
    color:#fff
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    color:#fed136;
    outline:0
}

.navbar-default .navbar-nav>.active>a{
    border-radius:0;
    color:#fff;
    background-color:#fed136
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color:#fff;
    background-color:#fec503
}

@media (min-width:768px){
    .navbar-default{
        background-color:#222;
        padding:25px 0;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:0
    }

    .navbar-default .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s
    }

    .navbar-default .navbar-nav>.active>a{
        border-radius:3px
    }

    .navbar-default.navbar-shrink{
        background-color:#222;
        padding:10px 0
    }

    .navbar-default.navbar-shrink .navbar-brand{
        font-size:1.5em
    }
}

header{
    background-image:url(../img/header-bg.jpg);
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    text-align:center;
    color:#fff
}

header .intro-text{
    padding-top:100px;
    padding-bottom:50px
}

header .intro-text .intro-lead-in{
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
    font-size:22px;
    line-height:22px;
    margin-bottom:25px
}

header .intro-text .intro-heading{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:50px;
    line-height:50px;
    margin-bottom:25px
}

@media (min-width:768px){
    header .intro-text{
        padding-top:300px;
        padding-bottom:200px
    }

    header .intro-text .intro-lead-in{
        font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style:italic;
        font-size:40px;
        line-height:40px;
        margin-bottom:25px
    }

    header .intro-text .intro-heading{
        font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform:uppercase;
        font-weight:700;
        font-size:75px;
        line-height:75px;
        margin-bottom:50px
    }
}

section{
    padding:100px 0
}

section h2.section-heading{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px
}

section h3.section-subheading{
    font-size:16px;
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:none;
    font-style:italic;
    font-weight:400;
    margin-bottom:50px
}

@media (min-width:768px){
    section{
        padding:150px 0
    }
}

.service-heading{
    margin:15px 0;
    text-transform:none
}

#portfolio .portfolio-item{
    margin:0 0 15px;
    right:0
}

#portfolio .portfolio-item .portfolio-link{
    display:block;
    position:relative;
    max-width:400px;
    margin:0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover{
    background:rgba(254,209,54,.9);
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition:all ease .5s;
    -webkit-transition:all ease .5s;
    -moz-transition:all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{
    opacity:1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
    position:absolute;
    width:100%;
    height:20px;
    font-size:20px;
    text-align:center;
    top:50%;margin-top:-12px;
    color:#fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{
    margin-top:-12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{
    margin:0
}

#portfolio .portfolio-item .portfolio-caption{
    max-width:400px;
    margin:0 auto;
    background-color:#fff;
    text-align:center;
    padding:25px
}

#portfolio .portfolio-item .portfolio-caption h4{
    text-transform:none;
    margin:0
}

#portfolio .portfolio-item .portfolio-caption p{
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
    font-size:16px;
    margin:0
}

#portfolio *{
    z-index:2
}

@media (min-width:767px){
    #portfolio .portfolio-item{
        margin:0 0 30px
    }
}

.timeline{
    list-style:none;
    padding:0;
    position:relative
}

.timeline:before{
    top:0;
    bottom:0;
    position:absolute;
    content:"";
    width:2px;
    background-color:#f1f1f1;
    left:40px;
    margin-left:-1.5px
}

.timeline>li{
    margin-bottom:50px;
    position:relative;
    min-height:50px
}

.timeline>li:before,
.timeline>li:after{
    content:" ";
    display:table
}

.timeline>li:after{
    clear:both
}

.timeline>li .timeline-panel{
    width:100%;
    float:right;
    padding:0 20px 0 100px;
    position:relative;
    text-align:left
}

.timeline>li .timeline-panel:before{
    border-left-width:0;
    border-right-width:15px;
    left:-15px;
    right:auto
}

.timeline>li .timeline-panel:after{
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto
}

.timeline>li .timeline-image{
    left:0;margin-left:0;
    width:80px;
    height:80px;
    position:absolute;
    z-index:100;
    background-color:#fed136;
    color:#fff;
    border-radius:100%;
    border:7px solid #f1f1f1;
    text-align:center
}

.timeline>li .timeline-image h4{
    font-size:10px;
    margin-top:12px;
    line-height:14px
}

.timeline>li.timeline-inverted>.timeline-panel{
    float:right;
    text-align:left;
    padding:0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before{
    border-left-width:0;
    border-right-width:15px;
    left:-15px;
    right:auto
}

.timeline>li.timeline-inverted>.timeline-panel:after{
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto
}

.timeline>li:last-child{
    margin-bottom:0
}

.timeline .timeline-heading h4{
    margin-top:0;
    color:inherit
}

.timeline .timeline-heading h4.subheading{
    text-transform:none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul{
    margin-bottom:0
}

@media (min-width:768px){
    .timeline:before{
        left:50%
    }

    .timeline>li{
        margin-bottom:100px;
        min-height:100px
    }

    .timeline>li .timeline-panel{
        width:41%;
        float:left;
        padding:0 20px 20px 30px;
        text-align:right
    }

    .timeline>li .timeline-image{
        width:100px;
        height:100px;
        left:50%;
        margin-left:-50px
    }

    .timeline>li .timeline-image h4{
        font-size:13px;
        margin-top:16px;
        line-height:18px
    }

    .timeline>li.timeline-inverted>.timeline-panel{
        float:right;
        text-align:left;
        padding:0 30px 20px 20px
    }
}

@media (min-width:992px){
    .timeline>li{
        min-height:150px
    }

    .timeline>li .timeline-panel{
        padding:0 20px 20px
    }

    .timeline>li .timeline-image{
        width:150px;
        height:150px;
        margin-left:-75px
    }

    .timeline>li .timeline-image h4{
        font-size:18px;
        margin-top:30px;
        line-height:26px
    }

    .timeline>li.timeline-inverted>.timeline-panel{
        padding:0 20px 20px
    }
}

@media (min-width:1200px){
    .timeline>li{
        min-height:170px
    }

    .timeline>li .timeline-panel{
        padding:0 20px 20px 100px
    }

    .timeline>li .timeline-image{
        width:170px;
        height:170px;
        margin-left:-85px
    }

    .timeline>li .timeline-image h4{
        margin-top:40px
    }

    .timeline>li.timeline-inverted>.timeline-panel{
        padding:0 100px 20px 20px
    }
}

.team-member{
    text-align:center;
    margin-bottom:50px
}

.team-member img{
    margin:0 auto;
    border:7px solid #fff
}

.team-member h4{
    margin-top:25px;
    margin-bottom:0;
    text-transform:none
}

.team-member p{
    margin-top:0
}

aside.clients img{
    margin:50px auto
}

section#contact{
    background-color:#222;
    background-image:url(../img/map-image.png);
    background-position:center;
    background-repeat:no-repeat
}
section#contact .section-heading{
    color:#fff
}

section#contact .form-group{
    margin-bottom:25px
}

section#contact .form-group input,section#contact .form-group textarea{
    padding:20px
}

section#contact .form-group input.form-control{
    height:auto
}

section#contact .form-group textarea.form-control{
    height:236px
}

section#contact .form-control:focus{
    border-color:#fed136;
    box-shadow:none
}

section#contact ::-webkit-input-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}

section#contact :-moz-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}

section#contact ::-moz-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}

section#contact :-ms-input-placeholder{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}

section#contact .text-danger{
    color:#e74c3c
}

footer{
    padding:25px 0;
    text-align:center
}

footer span.copyright{
    line-height:40px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    text-transform:none
}

footer ul.quicklinks{
    margin-bottom:0;
    line-height:40px;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    text-transform:none
}

ul.social-buttons{
    margin-bottom:0
}

ul.social-buttons li a{
    display:block;
    background-color:#222;
    height:40px;
    width:40px;
    border-radius:100%;
    font-size:20px;
    line-height:40px;
    color:#fff;
    outline:0;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s
}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{
    background-color:#fed136
}

.btn:focus,.btn:active,.btn.active,.btn:active:focus{
    outline:0
}

.portfolio-modal .modal-content{
    border-radius:0;
    background-clip:border-box;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:0;
    min-height:100%;
    padding:100px 0;
    text-align:center
}

.portfolio-modal .modal-content h2{
    margin-bottom:15px;
    font-size:3em
}

.portfolio-modal .modal-content p{
    margin-bottom:30px
}

.portfolio-modal .modal-content p.item-intro{
    margin:20px 0 30px;
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
    font-size:16px
}

.portfolio-modal .modal-content ul.list-inline{
    margin-bottom:30px;
    margin-top:0
}

.portfolio-modal .modal-content img{
    margin-bottom:30px
}

.portfolio-modal .close-modal{
    position:absolute;
    width:75px;
    height:75px;
    background-color:transparent;
    top:25px;
    right:25px;
    cursor:pointer
}

.portfolio-modal .close-modal:hover{
    opacity:.3
}

.portfolio-modal .close-modal .lr{
    height:75px;
    width:1px;
    margin-left:35px;
    background-color:#222;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    z-index:1051
}

.portfolio-modal .close-modal .lr .rl{
    height:75px;
    width:1px;
    background-color:#222;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    z-index:1052
}

.portfolio-modal .modal-backdrop{
    opacity:0;
    display:none
}

::-moz-selection{
    text-shadow:none;
    background:#fed136
}

::selection{
    text-shadow:none;
    background:#fed136
}

img::selection{
    background:0 0
}

img::-moz-selection{
    background:0 0
}

body{
    webkit-tap-highlight-color:#fed136
}

#home-background{
    background-image:url(../img/home-bg.jpg);
}

#home-row{
    background-image:url(../img/home-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 100%;*/
    /*height: 0;*/
    padding-top: 100%;
}

.fc {
    direction: ltr;
    text-align: left;
}

.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}

html .fc,
.fc table {
    font-size: 1em;
}

.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
    white-space: nowrap;
}

.fc-header-left {
    width: 25%;
    text-align: left;
}

.fc-header-center {
    text-align: center;
}

.fc-header-right {
    width: 25%;
    text-align: right;
}

.fc-header-title {
    display: inline-block;
    vertical-align: top;
}

.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
}

.fc .fc-header-space {
    padding-left: 10px;
}

.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}

/* buttons edges butting together */

.fc-header .fc-button {
    margin-right: -1px;
}

.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
    margin-right: 0; /* back to normal */
}

/* button layering (for border precedence) */

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2;
}

.fc-header .fc-state-down {
    z-index: 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4;
}



/* Content
------------------------------------------------------------------------*/

.fc-content {
    clear: both;
    zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
}

.fc-view {
    width: 100%;
    overflow: hidden;
}



/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
    border: 1px solid #ddd;
}

.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
    background: #fcfcfc;
}

.fc-cell-overlay { /* semi-transparent rectangle while dragging */
    background: #bcccbc;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
}



/* Buttons
------------------------------------------------------------------------*/

.fc-button {
    position: relative;
    display: inline-block;
    padding: 0 .6em;
    overflow: hidden;
    height: 1.9em;
    line-height: 1.9em;
    white-space: nowrap;
    cursor: pointer;
}


.fc-text-arrow {
    margin: 0 .1em;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline; /* for IE7 */
}



/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
    background-color: #f5f5f5;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #e6e6e6;
}

.fc-state-hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
    background-color: #cccccc;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.55;
    filter: alpha(opacity=65);
    box-shadow: none;
}



/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
    z-index: 8;
}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
    z-index: 9;
}

.fc-event {
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    color: #fff;               /* default TEXT color */
    font-size: .85em;
    cursor: default;
}

a.fc-event {
    text-decoration: none;
}

a.fc-event,
.fc-event-draggable {
    cursor: pointer;
}

.fc-rtl .fc-event {
    text-align: right;
}

.fc-event-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fc-event-time,
.fc-event-title {
    padding: 0 1px;
}

.fc .ui-resizable-handle {
    display: block;
    position: absolute;
    z-index: 99999;
    overflow: hidden; /* hacky spaces (IE6/7) */
    font-size: 300%;  /* */
    line-height: 50%; /* */
}



/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 1px;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 1px;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
    top: 0           !important; /* importants override pre jquery ui 1.7 styles */
    right: -3px      !important;
    width: 7px       !important;
    height: 100%     !important;
    cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
    top: 0           !important;
    left: -3px       !important;
    width: 7px       !important;
    height: 100%     !important;
    cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
    _padding-bottom: 14px; /* IE6 had 0 height */
}


table.fc-border-separate {
    border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
    border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}



/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
    text-align: center;
}

.fc .fc-week-number {
    width: 22px;
    text-align: center;
}

.fc .fc-week-number div {
    padding: 0 2px;
}

.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30); /* for IE */
    /* opacity with small font can sometimes look too faded
       might want to set the 'color' property instead
       making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px; /* distance between events and day edges */
}

/* event styles */

.fc-grid .fc-event-time {
    font-weight: bold;
}

/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}



/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate;
}

.fc-agenda-days th {
    text-align: center;
}

.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

.fc-agenda .fc-week-number {
    font-weight: bold;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}

/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}

/* all-day area */

.fc-agenda-allday th {
    border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px; /* TODO: doesnt work well in quirksmode */
    _height: 34px;
}

/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
}

/* slot rows */

.fc-agenda-slots th {
    border-width: 1px 1px 0;
}

.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: none;
}

.fc-agenda-slots td div {
    height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid; /* doesn't work with background in IE6/7 */
}



/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
    border-width: 0 1px;
}

.fc-event-vert.fc-event-start {
    border-top-width: 1px;
}

.fc-event-vert.fc-event-end {
    border-bottom-width: 1px;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap;
    font-size: 10px;
}

.fc-event-vert .fc-event-inner {
    position: relative;
    z-index: 2;
}

.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25);
}

.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
    display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */

.fc-event-vert .ui-resizable-s {
    bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
    width: 100%      !important;
    height: 8px      !important;
    overflow: hidden !important;
    line-height: 8px !important;
    font-size: 11px  !important;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}



